# IMPORT

In [1]:
import pandas as pd
from soil_fertility.components.data_ingestion import DataIngestion
from soil_fertility.components.data_transformation.data_transformation import DataTransformation
from soil_fertility.components
import warnings
warnings.filterwarnings('ignore')
from pathlib import Path

# INGESTION

In [2]:
data_path="/home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/data/Dataset1.csv"

In [3]:
obj = DataIngestion()
part,train_path,test_path= obj.init_ingestion(
    data_path
)

In [4]:
print("part : ",part)
print("train_path : ",Path(train_path))
print("test_path : ",Path(test_path))

part :  1
train_path :  /home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/artifacts/raw/1/train.csv
test_path :  /home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/artifacts/raw/1/test.csv

# Analysis

In [5]:
train_df=pd.read_csv(train_path)
test_df=pd.read_csv(test_path)
df = pd.concat([train_df, test_df], ignore_index=True)

In [6]:
df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,320,7.5,475,7.10,0.34,0.78,3.62,0.25,6.32,0.96,4.85,0.48,1.3416,1
1,176,4.8,496,7.15,0.32,0.39,6.64,0.22,1.58,1.22,12.03,0.67,0.6708,0
2,307,8.6,750,7.40,0.63,0.73,4.40,0.38,0.58,0.32,3.31,0.86,1.2556,1
3,213,7.0,718,7.50,0.47,0.30,1.80,0.22,1.29,0.09,3.09,0.33,0.5160,0
4,333,6.8,422,7.72,0.82,0.78,11.46,0.32,7.34,1.26,9.50,0.25,1.3416,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,201,5.3,507,7.60,0.53,0.39,10.86,0.32,9.32,0.69,9.03,0.69,0.6708,0
618,345,8.1,338,7.31,0.41,0.85,6.00,0.34,2.42,0.65,8.64,0.15,1.4620,1
619,295,8.3,602,7.68,0.51,0.62,3.10,0.34,2.54,0.43,7.32,0.10,1.0664,1
620,307,12.3,412,7.62,0.55,0.68,5.43,0.63,5.47,0.59,12.47,0.69,1.1696,1
621,151,7.5,327,7.63,0.73,0.29,4.80,0.33,2.49,0.63,7.23,0.18,0.4988,0

In [7]:
df.describe()

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
count,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000
mean,250.535370,8.275080,488.331190,7.476206,0.543714,0.565997,6.541383,0.376833,4.559598,0.945354,9.326431,0.381495,0.973514,0.522508
std,71.425183,2.424407,113.957317,0.243226,0.142418,0.308799,2.370709,0.114204,2.416623,0.439084,3.607669,0.194981,0.531135,0.543124
min,50.000000,2.900000,243.000000,6.960000,0.200000,0.100000,1.700000,0.090000,0.210000,0.090000,0.110000,0.060000,0.172000,0.000000
25%,201.000000,6.800000,401.000000,7.300000,0.430000,0.290000,4.520000,0.280000,2.740000,0.630000,7.320000,0.250000,0.498800,0.000000
50%,257.000000,7.700000,475.000000,7.500000,0.550000,0.550000,6.315000,0.360000,4.050000,0.875000,8.660000,0.340000,0.946000,0.500000
75%,307.000000,9.200000,560.000000,7.620000,0.640000,0.780000,8.185000,0.470000,6.330000,1.250000,11.555000,0.517500,1.341600,1.000000
max,377.000000,16.000000,834.000000,8.050000,0.950000,1.270000,14.200000,0.700000,10.550000,2.100000,19.320000,1.120000,2.184400,2.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 622 entries, 0 to 621
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   N          622 non-null    int64
 1   P          622 non-null    float64
 2   K          622 non-null    int64
 3   pH         622 non-null    float64
 4   EC         622 non-null    float64
 5   OC         622 non-null    float64
 6   S          622 non-null    float64
 7   Zn         622 non-null    float64
 8   Fe         622 non-null    float64
 9   Cu         622 non-null    float64
 10  Mn         622 non-null    float64
 11  B          622 non-null    float64
 12  OM         622 non-null    float64
 13  Fertility  622 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 68.2 KB

# Transformation

In [9]:
tranformation_obj = DataTransformation()
part,preprocessor,processed_train_path,processed_test_path = tranformation_obj.transform(
    train_path,test_path,target="Fertility"
)

train_coolumns=  Index(['N', 'P', 'K', 'pH', 'EC', 'OC', 'S', 'Zn', 'Fe', 'Cu', 'Mn', 'B', 'OM',
       'Fertility'],
      dtype='object')
test_coolumns=  Index(['N', 'P', 'K', 'pH', 'EC', 'OC', 'S', 'Zn', 'Fe', 'Cu', 'Mn', 'B', 'OM',
       'Fertility'],
      dtype='object')
train_coolumns=  Index(['N', 'P', 'K', 'pH', 'EC', 'OC', 'S', 'Zn', 'Fe', 'Cu', 'Mn', 'B', 'OM',
       'Fertility'],
      dtype='object')
test_coolumns=  Index(['N', 'P', 'K', 'pH', 'EC', 'OC', 'S', 'Zn', 'Fe', 'Cu', 'Mn', 'B', 'OM',
       'Fertility'],
      dtype='object')

In [10]:
print(preprocessor)

ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical',
                                 Pipeline(steps=[('imputer',
                                                  MinMaxTransformation())]),
                                 Index(['N', 'P', 'K', 'pH', 'EC', 'OC', 'S', 'Zn', 'Fe', 'Cu', 'Mn', 'B',
       'OM'],
      dtype='object'))])

In [11]:
print("part : ",part)
print("processed_train_path : ",Path(processed_train_path))
print("processed_test_path : ",Path(processed_test_path))

part :  1
processed_train_path :  /home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/artifacts/intermediate/1/train.csv
processed_test_path :  /home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/artifacts/intermediate/1/test.csv

In [12]:
df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,320,7.5,475,7.10,0.34,0.78,3.62,0.25,6.32,0.96,4.85,0.48,1.3416,1
1,176,4.8,496,7.15,0.32,0.39,6.64,0.22,1.58,1.22,12.03,0.67,0.6708,0
2,307,8.6,750,7.40,0.63,0.73,4.40,0.38,0.58,0.32,3.31,0.86,1.2556,1
3,213,7.0,718,7.50,0.47,0.30,1.80,0.22,1.29,0.09,3.09,0.33,0.5160,0
4,333,6.8,422,7.72,0.82,0.78,11.46,0.32,7.34,1.26,9.50,0.25,1.3416,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,201,5.3,507,7.60,0.53,0.39,10.86,0.32,9.32,0.69,9.03,0.69,0.6708,0
618,345,8.1,338,7.31,0.41,0.85,6.00,0.34,2.42,0.65,8.64,0.15,1.4620,1
619,295,8.3,602,7.68,0.51,0.62,3.10,0.34,2.54,0.43,7.32,0.10,1.0664,1
620,307,12.3,412,7.62,0.55,0.68,5.43,0.63,5.47,0.59,12.47,0.69,1.1696,1
621,151,7.5,327,7.63,0.73,0.29,4.80,0.33,2.49,0.63,7.23,0.18,0.4988,0

In [13]:
train_df=pd.read_csv(processed_train_path)
test_df=pd.read_csv(processed_test_path)

In [14]:
train_df

,numerical__N,numerical__P,numerical__K,numerical__pH,numerical__EC,numerical__OC,numerical__S,numerical__Zn,numerical__Fe,numerical__Cu,numerical__Mn,numerical__B,numerical__OM,remainder__Fertility
0,0.825688,0.297521,0.392555,0.132075,0.186667,0.581197,0.1536,0.262295,0.590909,0.432836,0.246746,0.396226,0.581197,1
1,0.385321,0.074380,0.428088,0.179245,0.160000,0.247863,0.3952,0.213115,0.132495,0.562189,0.620510,0.575472,0.247863,0
2,0.785933,0.388430,0.857868,0.415094,0.573333,0.538462,0.2160,0.475410,0.035783,0.114428,0.166580,0.754717,0.538462,1
3,0.498471,0.256198,0.803723,0.509434,0.360000,0.170940,0.0080,0.213115,0.104449,0.000000,0.155128,0.254717,0.170940,0
4,0.865443,0.239669,0.302876,0.716981,0.826667,0.581197,0.7808,0.377049,0.689555,0.582090,0.488808,0.179245,0.581197,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,0.443425,0.347107,0.142132,0.613208,0.626667,0.094017,0.5520,0.229508,0.311412,0.303483,0.438313,0.113208,0.094017,0
493,0.709480,0.239669,0.106599,0.311321,0.560000,0.290598,0.3760,0.295082,0.235977,0.238806,0.434149,0.037736,0.290598,1
494,0.654434,0.297521,0.697124,0.216981,0.600000,0.752137,0.4432,0.475410,0.759188,0.278607,0.682457,0.339623,0.752137,0
495,0.691131,0.132231,0.177665,0.320755,0.560000,0.085470,0.1776,0.311475,0.494197,0.323383,0.138990,0.320755,0.085470,1
496,0.596330,0.181818,0.428088,0.433962,0.506667,0.119658,0.0640,0.245902,0.254352,0.422886,0.396668,0.009434,0.119658,0

In [15]:
names=list(df.columns)
train_df = train_df.rename(columns=dict(zip(train_df.columns, names)))
test_df = test_df.rename(columns=dict(zip(test_df.columns, names)))

In [16]:
train_df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,0.825688,0.297521,0.392555,0.132075,0.186667,0.581197,0.1536,0.262295,0.590909,0.432836,0.246746,0.396226,0.581197,1
1,0.385321,0.074380,0.428088,0.179245,0.160000,0.247863,0.3952,0.213115,0.132495,0.562189,0.620510,0.575472,0.247863,0
2,0.785933,0.388430,0.857868,0.415094,0.573333,0.538462,0.2160,0.475410,0.035783,0.114428,0.166580,0.754717,0.538462,1
3,0.498471,0.256198,0.803723,0.509434,0.360000,0.170940,0.0080,0.213115,0.104449,0.000000,0.155128,0.254717,0.170940,0
4,0.865443,0.239669,0.302876,0.716981,0.826667,0.581197,0.7808,0.377049,0.689555,0.582090,0.488808,0.179245,0.581197,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,0.443425,0.347107,0.142132,0.613208,0.626667,0.094017,0.5520,0.229508,0.311412,0.303483,0.438313,0.113208,0.094017,0
493,0.709480,0.239669,0.106599,0.311321,0.560000,0.290598,0.3760,0.295082,0.235977,0.238806,0.434149,0.037736,0.290598,1
494,0.654434,0.297521,0.697124,0.216981,0.600000,0.752137,0.4432,0.475410,0.759188,0.278607,0.682457,0.339623,0.752137,0
495,0.691131,0.132231,0.177665,0.320755,0.560000,0.085470,0.1776,0.311475,0.494197,0.323383,0.138990,0.320755,0.085470,1
496,0.596330,0.181818,0.428088,0.433962,0.506667,0.119658,0.0640,0.245902,0.254352,0.422886,0.396668,0.009434,0.119658,0

In [17]:
test_df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,0.807339,0.272727,0.482234,0.886792,0.653333,0.581197,0.3704,0.590164,0.234043,0.432836,0.570016,0.415094,0.581197,1
1,0.865443,0.438017,0.231810,0.415094,0.546667,0.418803,0.2256,0.688525,0.413926,0.199005,0.828735,0.245283,0.418803,1
2,0.076453,0.347107,0.142132,0.613208,0.413333,0.367521,0.2000,0.262295,0.301741,0.233831,0.345653,0.113208,0.367521,0
3,0.480122,0.239669,0.642978,0.264151,0.440000,0.581197,0.2744,0.672131,0.432302,0.676617,0.611140,0.283019,0.581197,0
4,0.461774,0.297521,0.250423,0.424528,0.453333,0.367521,0.4400,0.229508,0.209865,0.338308,0.402395,0.150943,0.367521,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,0.461774,0.115702,0.446701,0.603774,0.440000,0.247863,0.7328,0.377049,0.881044,0.298507,0.464341,0.594340,0.247863,0
121,0.902141,0.347107,0.160745,0.330189,0.280000,0.641026,0.3440,0.409836,0.213733,0.278607,0.444040,0.084906,0.641026,1
122,0.749235,0.363636,0.607445,0.679245,0.413333,0.444444,0.1120,0.409836,0.225338,0.169154,0.375325,0.037736,0.444444,1
123,0.785933,0.694215,0.285956,0.622642,0.466667,0.495726,0.2984,0.885246,0.508704,0.248756,0.643415,0.594340,0.495726,1
124,0.308869,0.297521,0.142132,0.632075,0.706667,0.162393,0.2480,0.393443,0.220503,0.268657,0.370640,0.113208,0.162393,0

In [18]:
from soil_fertility.components.models.decision_tree import DecisionTree
from soil_fertility.components.models.random_forest import RandomForest

In [19]:
target_column = "Fertility"
X_train = train_df.drop(columns=[target_column]).to_numpy()
y_train = train_df[target_column].to_numpy()
X_test = test_df.drop(columns=[target_column]).to_numpy()
y_test = test_df[target_column].to_numpy()

In [20]:
from soil_fertility.components.model_trainer import ModelTrainer

In [21]:
model_trainer=ModelTrainer()
result=  model_trainer.init_training(train_data=train_df,
                                     test_data=test_df,
                                     target_column="Fertility",
                                     mode="gridsearch")

In [22]:
result

{'decision_tree': 0.888, 'random_forest': 0.688}