# IMPORT

In [1]:
import pandas as pd
from soil_fertility.components.data_pipeline.data_ingestion import DataIngestion
from soil_fertility.components.data_pipeline.data_transformation import DataTransformation
import warnings
warnings.filterwarnings('ignore')
from pathlib import Path

# INGESTION

In [2]:
data_path="/home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/data/Dataset1.csv"

In [3]:
obj = DataIngestion()
part,train_path,test_path= obj.init_ingestion(
    data_path
)

Column N: replaced outliers with mean 250.21965317919074
Column P: replaced outliers with mean 8.318601747815231
Column K: replaced outliers with mean 498.2623705408516
Column pH: replaced outliers with mean 7.483146603098928
Column EC: replaced outliers with mean 0.5445838084378564
Column OC: replaced outliers with mean 0.5910034207525655
Column S: replaced outliers with mean 6.748947368421054
Column Zn: replaced outliers with mean 0.3767393800229621
Column Fe: replaced outliers with mean 4.0661872146118725
Column Cu: replaced outliers with mean 0.9493386545039908
Column Mn: replaced outliers with mean 8.571366245694604
Column B: replaced outliers with mean 0.3878975032851511
Column OM: replaced outliers with mean 1.0165258836944129
Column Fertility: replaced outliers with mean 0.5876993166287016

In [4]:
print("part : ",part)
print("train_path : ",Path(train_path))
print("test_path : ",Path(test_path))

part :  1
train_path :  /home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/artifacts/raw/1/train.csv
test_path :  /home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/artifacts/raw/1/test.csv

# Analysis

In [5]:
train_df=pd.read_csv(train_path)
test_df=pd.read_csv(test_path)
df = pd.concat([train_df, test_df], ignore_index=True)

In [6]:
df.describe()

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
count,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000
mean,250.219653,8.318602,498.262371,7.483147,0.544584,0.591003,6.748947,0.376739,4.066187,0.949339,8.571366,0.387898,1.016526,0.587699
std,72.282247,2.336950,118.353933,0.227106,0.140766,0.296934,2.551517,0.118683,2.612473,0.461029,4.067388,0.177952,0.510726,0.573798
min,50.000000,2.900000,222.000000,6.960000,0.200000,0.100000,0.640000,0.070000,0.210000,0.090000,0.110000,0.060000,0.172000,0.000000
25%,201.000000,6.800000,412.000000,7.350000,0.430000,0.380000,4.700000,0.280000,2.060000,0.630000,6.230000,0.270000,0.653600,0.000000
50%,257.000000,8.100000,475.000000,7.483147,0.550000,0.590000,6.640000,0.360000,3.565000,0.930000,8.365000,0.387898,1.014800,1.000000
75%,307.000000,9.000000,578.250000,7.610000,0.640000,0.780000,8.450000,0.460000,6.315000,1.250000,11.360000,0.500000,1.341600,1.000000
max,383.000000,16.000000,834.000000,8.050000,0.950000,1.270000,14.800000,0.750000,10.550000,2.100000,19.320000,1.120000,2.184400,2.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   N          878 non-null    float64
 1   P          878 non-null    float64
 2   K          878 non-null    float64
 3   pH         878 non-null    float64
 4   EC         878 non-null    float64
 5   OC         878 non-null    float64
 6   S          878 non-null    float64
 7   Zn         878 non-null    float64
 8   Fe         878 non-null    float64
 9   Cu         878 non-null    float64
 10  Mn         878 non-null    float64
 11  B          878 non-null    float64
 12  OM         878 non-null    float64
 13  Fertility  878 non-null    float64
dtypes: float64(14)
memory usage: 96.2 KB

# Transformation

In [8]:
tranformation_obj = DataTransformation()
part,preprocessor,processed_train_path,processed_test_path = tranformation_obj.transform(
    train_path,test_path,target="Fertility"
)

train_coolumns=  Index(['N', 'P', 'K', 'pH', 'EC', 'OC', 'S', 'Zn', 'Fe', 'Cu', 'Mn', 'B', 'OM',
       'Fertility'],
      dtype='object')
test_coolumns=  Index(['N', 'P', 'K', 'pH', 'EC', 'OC', 'S', 'Zn', 'Fe', 'Cu', 'Mn', 'B', 'OM',
       'Fertility'],
      dtype='object')

In [9]:
print(preprocessor)

ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical',
                                 Pipeline(steps=[('imputer',
                                                  MinMaxTransformation())]),
                                 Index(['N', 'P', 'K', 'pH', 'EC', 'OC', 'S', 'Zn', 'Fe', 'Cu', 'Mn', 'B',
       'OM'],
      dtype='object'))])

In [10]:
print("part : ",part)
print("processed_train_path : ",Path(processed_train_path))
print("processed_test_path : ",Path(processed_test_path))

part :  1
processed_train_path :  /home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/artifacts/intermediate/1/train.csv
processed_test_path :  /home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/artifacts/intermediate/1/test.csv

In [11]:
train_df=pd.read_csv(processed_train_path)
test_df=pd.read_csv(processed_test_path)

In [12]:
train_df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,0.849850,0.282443,0.828431,0.220183,0.150685,0.239316,0.456215,0.250000,0.264023,0.368159,0.386674,0.084906,0.239316,1.0
1,0.753754,0.413634,0.431373,0.495413,0.465753,0.282051,0.413842,0.264706,0.131528,0.069652,0.967996,0.273585,0.282051,1.0
2,0.867868,0.213740,0.776144,0.954128,0.616438,0.495726,0.572740,0.367647,0.584139,0.875622,0.798006,0.339623,0.495726,1.0
3,0.489489,0.595420,0.897059,0.302752,0.438356,0.495726,0.359463,0.617647,0.802708,0.328358,0.805876,0.283019,0.495726,0.0
4,0.849850,0.870229,0.465686,0.431193,0.561644,0.666667,0.466102,0.441176,0.101547,0.636816,0.617524,0.216981,0.666667,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,0.339339,0.396947,0.447712,0.495413,0.780822,0.914530,0.401836,0.647059,0.562863,0.611940,0.386674,0.320755,0.914530,0.0
698,0.378378,0.435115,0.465686,0.651376,0.520548,0.589744,0.293785,0.294118,0.323985,0.273632,0.286988,0.028302,0.589744,0.0
699,0.792793,0.564885,0.741830,0.064220,0.260274,0.829060,0.338277,0.470588,0.582205,0.189055,0.127492,0.415094,0.829060,1.0
700,0.942943,0.396947,0.431373,0.449541,0.397260,0.000000,0.615113,0.411765,0.668279,0.442786,0.381952,0.415094,0.000000,1.0
701,0.471471,0.297710,0.171569,0.587156,0.698630,0.495726,0.508475,0.735294,0.368472,0.577114,0.317943,0.160377,0.495726,0.0

In [13]:
train_df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,0.849850,0.282443,0.828431,0.220183,0.150685,0.239316,0.456215,0.250000,0.264023,0.368159,0.386674,0.084906,0.239316,1.0
1,0.753754,0.413634,0.431373,0.495413,0.465753,0.282051,0.413842,0.264706,0.131528,0.069652,0.967996,0.273585,0.282051,1.0
2,0.867868,0.213740,0.776144,0.954128,0.616438,0.495726,0.572740,0.367647,0.584139,0.875622,0.798006,0.339623,0.495726,1.0
3,0.489489,0.595420,0.897059,0.302752,0.438356,0.495726,0.359463,0.617647,0.802708,0.328358,0.805876,0.283019,0.495726,0.0
4,0.849850,0.870229,0.465686,0.431193,0.561644,0.666667,0.466102,0.441176,0.101547,0.636816,0.617524,0.216981,0.666667,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,0.339339,0.396947,0.447712,0.495413,0.780822,0.914530,0.401836,0.647059,0.562863,0.611940,0.386674,0.320755,0.914530,0.0
698,0.378378,0.435115,0.465686,0.651376,0.520548,0.589744,0.293785,0.294118,0.323985,0.273632,0.286988,0.028302,0.589744,0.0
699,0.792793,0.564885,0.741830,0.064220,0.260274,0.829060,0.338277,0.470588,0.582205,0.189055,0.127492,0.415094,0.829060,1.0
700,0.942943,0.396947,0.431373,0.449541,0.397260,0.000000,0.615113,0.411765,0.668279,0.442786,0.381952,0.415094,0.000000,1.0
701,0.471471,0.297710,0.171569,0.587156,0.698630,0.495726,0.508475,0.735294,0.368472,0.577114,0.317943,0.160377,0.495726,0.0

In [14]:
names=list(df.columns)
train_df = train_df.rename(columns=dict(zip(train_df.columns, names)))
test_df = test_df.rename(columns=dict(zip(test_df.columns, names)))

In [15]:
train_df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,0.849850,0.282443,0.828431,0.220183,0.150685,0.239316,0.456215,0.250000,0.264023,0.368159,0.386674,0.084906,0.239316,1.0
1,0.753754,0.413634,0.431373,0.495413,0.465753,0.282051,0.413842,0.264706,0.131528,0.069652,0.967996,0.273585,0.282051,1.0
2,0.867868,0.213740,0.776144,0.954128,0.616438,0.495726,0.572740,0.367647,0.584139,0.875622,0.798006,0.339623,0.495726,1.0
3,0.489489,0.595420,0.897059,0.302752,0.438356,0.495726,0.359463,0.617647,0.802708,0.328358,0.805876,0.283019,0.495726,0.0
4,0.849850,0.870229,0.465686,0.431193,0.561644,0.666667,0.466102,0.441176,0.101547,0.636816,0.617524,0.216981,0.666667,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,0.339339,0.396947,0.447712,0.495413,0.780822,0.914530,0.401836,0.647059,0.562863,0.611940,0.386674,0.320755,0.914530,0.0
698,0.378378,0.435115,0.465686,0.651376,0.520548,0.589744,0.293785,0.294118,0.323985,0.273632,0.286988,0.028302,0.589744,0.0
699,0.792793,0.564885,0.741830,0.064220,0.260274,0.829060,0.338277,0.470588,0.582205,0.189055,0.127492,0.415094,0.829060,1.0
700,0.942943,0.396947,0.431373,0.449541,0.397260,0.000000,0.615113,0.411765,0.668279,0.442786,0.381952,0.415094,0.000000,1.0
701,0.471471,0.297710,0.171569,0.587156,0.698630,0.495726,0.508475,0.735294,0.368472,0.577114,0.317943,0.160377,0.495726,0.0

In [16]:
test_df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,0.564565,0.076336,0.276144,0.587156,0.506849,0.000000,0.572740,0.647059,0.187621,0.268657,0.696747,0.518868,0.000000,0.0
1,0.435435,0.297710,0.276144,0.477064,0.232877,0.042735,0.201977,0.235294,0.227273,0.263682,0.371983,0.037736,0.042735,0.0
2,0.678679,0.763359,0.292484,0.357798,0.890411,0.495726,0.231638,0.220588,0.271760,0.592040,0.731899,0.339623,0.495726,1.0
3,0.903904,0.900763,0.258170,0.862385,0.315068,0.581197,0.231638,0.294118,0.368472,0.870647,0.475341,0.216981,0.581197,1.0
4,0.471471,0.366412,0.258170,0.623853,0.643836,0.136752,0.251412,0.279412,0.359768,0.293532,0.450682,0.198113,0.136752,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,0.678679,0.633588,0.413399,0.495413,0.205479,0.247863,0.274011,0.661765,0.590909,0.223881,0.438615,0.264151,0.247863,1.0
172,0.564565,0.213740,0.379085,0.596330,0.575342,0.846154,0.201977,0.397059,0.227273,0.502488,0.372508,0.075472,0.846154,0.0
173,0.642643,0.328244,0.241830,0.660550,0.630137,1.000000,0.700565,0.779412,0.610251,0.736318,0.566107,0.320755,1.000000,0.0
174,0.660661,0.160305,0.620915,0.036697,0.219178,0.247863,0.700565,0.367647,0.322050,0.686567,0.593389,0.575472,0.247863,0.0
175,0.057057,0.396947,0.189542,0.495413,0.589041,0.581197,0.548023,0.441176,0.184720,0.467662,0.135362,0.309337,0.581197,0.0

In [17]:
train_df.describe()

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
count,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000
mean,0.595617,0.412213,0.454530,0.480776,0.470710,0.419803,0.429425,0.450325,0.371614,0.427584,0.440456,0.309849,0.419803,0.578348
std,0.219667,0.178632,0.195809,0.205003,0.191006,0.254736,0.177279,0.173313,0.248143,0.231093,0.212126,0.168022,0.254736,0.584135
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.453453,0.297710,0.310458,0.357798,0.315068,0.239316,0.293785,0.308824,0.187621,0.268657,0.317943,0.198113,0.239316,0.000000
50%,0.621622,0.396947,0.422386,0.479951,0.465753,0.418803,0.423729,0.426471,0.323985,0.405473,0.426285,0.309337,0.418803,1.000000
75%,0.767267,0.465649,0.586601,0.596330,0.602740,0.589744,0.551554,0.573529,0.582205,0.577114,0.585388,0.415094,0.589744,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000

In [18]:
# concat train test 
df = pd.concat([train_df, test_df], ignore_index=True)
df.describe()

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
count,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000
mean,0.601260,0.413634,0.451409,0.479951,0.472033,0.419661,0.431423,0.451087,0.372939,0.427532,0.436063,0.309337,0.419661,0.587699
std,0.217064,0.178393,0.193389,0.208354,0.192830,0.253790,0.180192,0.174534,0.252657,0.229368,0.213399,0.167880,0.253790,0.573798
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.007870,0.000000,0.000000,0.000000
25%,0.453453,0.297710,0.310458,0.357798,0.315068,0.239316,0.286723,0.308824,0.178917,0.268657,0.313221,0.198113,0.239316,0.000000
50%,0.621622,0.396947,0.413399,0.479951,0.479452,0.418803,0.423729,0.426471,0.324468,0.417910,0.425236,0.309337,0.418803,1.000000
75%,0.771772,0.465649,0.582108,0.596330,0.602740,0.581197,0.551554,0.573529,0.590426,0.577114,0.582371,0.415094,0.581197,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.027397,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000

In [19]:
from soil_fertility.components.model_pipeline.models.decision_tree import DecisionTree
from soil_fertility.components.model_pipeline.models.random_forest import RandomForest

In [20]:
target_column = "Fertility"
X_train = train_df.drop(columns=[target_column]).to_numpy()
y_train = train_df[target_column].to_numpy()
X_test = test_df.drop(columns=[target_column]).to_numpy()
y_test = test_df[target_column].to_numpy()

In [21]:
from soil_fertility.components.model_pipeline.model_trainer import ModelTrainer

In [22]:
model_trainer=ModelTrainer()
result=  model_trainer.init_training(train_data=train_df,
                                     test_data=test_df,
                                     target_column="Fertility",
                                     mode="default")

In [23]:
result

{'metrics': {'decision_tree': {'accuracy': 0.8579545454545454,
   'micro_average': {'precision': 0.8579545454545454,
    'recall': 0.8579545454545454,
    'f1_score': 0.8579545454545454},
   'macro_average': {'precision': 0.6667098459578785,
    'recall': 0.7477124183006536,
    'f1_score': 0.6887874030731173},
   'metrics_per_class': {'0.0': {'precision': 0.863013698630137,
     'recall': 0.9,
     'f1_score': 0.881118881118881,
     'specificity': 0.9320388349514563},
    '1.0': {'precision': 0.9148936170212766,
     'recall': 0.8431372549019608,
     'f1_score': 0.8775510204081632,
     'specificity': 0.8048780487804879},
    '2.0': {'precision': 0.2222222222222222,
     'recall': 0.5,
     'f1_score': 0.30769230769230765,
     'specificity': 0.9880239520958084}}},
  'random_forest': {'accuracy': 0.5056818181818182,
   'micro_average': {'precision': 0.5056818181818182,
    'recall': 0.5056818181818182,
    'f1_score': 0.5056818181818182},
   'macro_average': {'precision': 0.4074898034853541,
    'recall': 0.38795518207282914,
    'f1_score': 0.3218511394765985},
   'metrics_per_class': {'0.0': {'precision': 0.4482758620689655,
     'recall': 0.9285714285714286,
     'f1_score': 0.6046511627906977,
     'specificity': 0.8387096774193549},
    '1.0': {'precision': 0.7741935483870968,
     'recall': 0.23529411764705882,
     'f1_score': 0.3609022556390977,
     'specificity': 0.46206896551724136},
    '2.0': {'precision': 0,
     'recall': 0.0,
     'f1_score': 0,
     'specificity': 0.9772727272727273}}}},
 'decision_tree': <soil_fertility.components.model_pipeline.models.decision_tree.DecisionTree at 0x7f81bc6f22f0>,
 'random_forest': <soil_fertility.components.model_pipeline.models.random_forest.RandomForest at 0x7f81bc6f3c10>}