# IMPORT

In [46]:
import pandas as pd
from soil_fertility.components.data_ingestion import DataIngestion
from soil_fertility.components.data_transformation.data_transformation import DataTransformation
from soil_fertility.components.data_transformation.data_transformation_part3 import DataTransformationThree
from soil_fertility.components.data_transformation.data_transformation_part2 import DataTransformationTwo
import warnings
warnings.filterwarnings('ignore')
from pathlib import Path

# INGESTION

In [47]:
data_path="/home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/data/Dataset1.csv"

In [48]:
obj = DataIngestion()
part,train_path,test_path= obj.init_ingestion(
    data_path
)

In [49]:
print("part : ",part)
print("train_path : ",Path(train_path))
print("test_path : ",Path(test_path))

part :  1
train_path :  /home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/artifacts/raw/1/train.csv
test_path :  /home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/artifacts/raw/1/test.csv

# Analysis

In [50]:
train_df=pd.read_csv(train_path)
test_df=pd.read_csv(test_path)
df = pd.concat([train_df, test_df], ignore_index=True)

In [51]:
df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,320,7.5,475,7.10,0.34,0.78,3.62,0.25,6.32,0.96,4.85,0.48,1.3416,1
1,176,4.8,496,7.15,0.32,0.39,6.64,0.22,1.58,1.22,12.03,0.67,0.6708,0
2,307,8.6,750,7.40,0.63,0.73,4.40,0.38,0.58,0.32,3.31,0.86,1.2556,1
3,213,7.0,718,7.50,0.47,0.30,1.80,0.22,1.29,0.09,3.09,0.33,0.5160,0
4,333,6.8,422,7.72,0.82,0.78,11.46,0.32,7.34,1.26,9.50,0.25,1.3416,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,201,5.3,507,7.60,0.53,0.39,10.86,0.32,9.32,0.69,9.03,0.69,0.6708,0
618,345,8.1,338,7.31,0.41,0.85,6.00,0.34,2.42,0.65,8.64,0.15,1.4620,1
619,295,8.3,602,7.68,0.51,0.62,3.10,0.34,2.54,0.43,7.32,0.10,1.0664,1
620,307,12.3,412,7.62,0.55,0.68,5.43,0.63,5.47,0.59,12.47,0.69,1.1696,1
621,151,7.5,327,7.63,0.73,0.29,4.80,0.33,2.49,0.63,7.23,0.18,0.4988,0

In [52]:
df.describe()

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
count,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000,622.000000
mean,250.535370,8.275080,488.331190,7.476206,0.543714,0.565997,6.541383,0.376833,4.559598,0.945354,9.326431,0.381495,0.973514,0.522508
std,71.425183,2.424407,113.957317,0.243226,0.142418,0.308799,2.370709,0.114204,2.416623,0.439084,3.607669,0.194981,0.531135,0.543124
min,50.000000,2.900000,243.000000,6.960000,0.200000,0.100000,1.700000,0.090000,0.210000,0.090000,0.110000,0.060000,0.172000,0.000000
25%,201.000000,6.800000,401.000000,7.300000,0.430000,0.290000,4.520000,0.280000,2.740000,0.630000,7.320000,0.250000,0.498800,0.000000
50%,257.000000,7.700000,475.000000,7.500000,0.550000,0.550000,6.315000,0.360000,4.050000,0.875000,8.660000,0.340000,0.946000,0.500000
75%,307.000000,9.200000,560.000000,7.620000,0.640000,0.780000,8.185000,0.470000,6.330000,1.250000,11.555000,0.517500,1.341600,1.000000
max,377.000000,16.000000,834.000000,8.050000,0.950000,1.270000,14.200000,0.700000,10.550000,2.100000,19.320000,1.120000,2.184400,2.000000

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 622 entries, 0 to 621
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   N          622 non-null    int64
 1   P          622 non-null    float64
 2   K          622 non-null    int64
 3   pH         622 non-null    float64
 4   EC         622 non-null    float64
 5   OC         622 non-null    float64
 6   S          622 non-null    float64
 7   Zn         622 non-null    float64
 8   Fe         622 non-null    float64
 9   Cu         622 non-null    float64
 10  Mn         622 non-null    float64
 11  B          622 non-null    float64
 12  OM         622 non-null    float64
 13  Fertility  622 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 68.2 KB

# Transformation

In [54]:
tranformation_obj = DataTransformation()
part,preprocessor,processed_train_path,processed_test_path = tranformation_obj.transform(
    train_path,test_path,target="Fertility"
)

In [55]:
print(preprocessor)

ColumnTransformer(transformers=[('numerical',
                                 Pipeline(steps=[('imputer',
                                                  MinMaxTransformation())]),
                                 Index(['N', 'P', 'K', 'pH', 'EC', 'OC', 'S', 'Zn', 'Fe', 'Cu', 'Mn', 'B',
       'OM'],
      dtype='object'))])

In [58]:
print("part : ",part)
print("processed_train_path : ",Path(processed_train_path))
print("processed_test_path : ",Path(processed_test_path))

part :  1
processed_train_path :  /home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/artifacts/intermediate/1/train.csv
processed_test_path :  /home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/artifacts/intermediate/1/test.csv