# IMPORT

In [1]:
import pandas as pd
from soil_fertility.components.data_ingestion import DataIngestion
from soil_fertility.components.data_transformation.data_transformation import DataTransformation

import warnings
warnings.filterwarnings('ignore')
from pathlib import Path

# INGESTION

In [2]:
data_path="/home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/data/Dataset1.csv"

In [3]:
obj = DataIngestion()
part,train_path,test_path= obj.init_ingestion(
    data_path
)

In [4]:
print("part : ",part)
print("train_path : ",Path(train_path))
print("test_path : ",Path(test_path))

part :  1
train_path :  /home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/artifacts/raw/1/train.csv
test_path :  /home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/artifacts/raw/1/test.csv

# Analysis

In [5]:
train_df=pd.read_csv(train_path)
test_df=pd.read_csv(test_path)
df = pd.concat([train_df, test_df], ignore_index=True)

In [6]:
df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,333,6.6,729,7.20,0.31,0.38,7.10,0.24,2.94,0.83,7.63,0.15,0.6536,1
1,301,111.8,486,7.50,0.54,0.43,6.50,0.25,1.57,0.23,18.71,0.35,0.7396,1
2,339,5.7,697,8.00,0.65,0.68,8.75,0.32,6.25,1.85,15.47,0.42,1.1696,1
3,213,10.7,771,7.29,0.52,0.68,5.73,0.49,8.51,0.75,15.62,0.36,1.1696,0
4,333,14.3,507,7.43,0.61,0.88,7.24,0.37,1.26,1.37,12.03,0.29,1.5136,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,276,11.2,475,7.50,0.35,0.39,4.52,0.52,6.32,0.54,8.62,0.34,0.6708,1
874,238,5.7,454,7.61,0.62,1.09,3.50,0.34,2.56,1.10,7.36,0.14,1.8748,0
875,264,7.2,370,7.68,0.66,1.27,10.56,0.60,6.52,1.57,11.05,0.40,2.1844,0
876,270,5.0,602,7.00,0.36,0.39,10.56,0.32,3.54,1.47,11.57,0.67,0.6708,0
877,69,8.1,338,7.50,0.63,0.78,8.40,0.37,2.12,1.03,2.84,2.26,1.3416,0

In [7]:
df.describe()

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
count,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.00000,878.000000,878.000000,878.000000
mean,246.842825,14.572437,501.042141,7.510706,0.544077,0.617665,7.525239,0.469419,4.145763,0.951697,8.68836,0.586139,1.062384,0.587699
std,77.370500,21.991113,129.100764,0.464720,0.141563,0.843975,4.405285,1.896323,3.107853,0.466295,4.29319,0.564529,1.451637,0.573798
min,6.000000,2.900000,11.000000,0.900000,0.100000,0.100000,0.640000,0.070000,0.210000,0.090000,0.11000,0.060000,0.172000,0.000000
25%,201.000000,6.800000,412.000000,7.350000,0.430000,0.380000,4.700000,0.280000,2.060000,0.630000,6.23000,0.270000,0.653600,0.000000
50%,257.000000,8.100000,475.000000,7.500000,0.550000,0.590000,6.640000,0.360000,3.565000,0.930000,8.36500,0.400000,1.014800,1.000000
75%,307.000000,10.650000,581.000000,7.630000,0.640000,0.780000,8.750000,0.470000,6.320000,1.250000,11.48000,0.610000,1.341600,1.000000
max,383.000000,125.000000,1560.000000,11.150000,0.950000,24.000000,31.000000,42.000000,44.000000,3.020000,31.00000,2.820000,41.280000,2.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   N          878 non-null    int64
 1   P          878 non-null    float64
 2   K          878 non-null    int64
 3   pH         878 non-null    float64
 4   EC         878 non-null    float64
 5   OC         878 non-null    float64
 6   S          878 non-null    float64
 7   Zn         878 non-null    float64
 8   Fe         878 non-null    float64
 9   Cu         878 non-null    float64
 10  Mn         878 non-null    float64
 11  B          878 non-null    float64
 12  OM         878 non-null    float64
 13  Fertility  878 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 96.2 KB

# Transformation

In [9]:
tranformation_obj = DataTransformation()
part,preprocessor,processed_train_path,processed_test_path = tranformation_obj.transform(
    train_path,test_path,target="Fertility"
)

train_coolumns=  Index(['N', 'P', 'K', 'pH', 'EC', 'OC', 'S', 'Zn', 'Fe', 'Cu', 'Mn', 'B', 'OM',
       'Fertility'],
      dtype='object')
test_coolumns=  Index(['N', 'P', 'K', 'pH', 'EC', 'OC', 'S', 'Zn', 'Fe', 'Cu', 'Mn', 'B', 'OM',
       'Fertility'],
      dtype='object')
train_coolumns=  Index(['N', 'P', 'K', 'pH', 'EC', 'OC', 'S', 'Zn', 'Fe', 'Cu', 'Mn', 'B', 'OM',
       'Fertility'],
      dtype='object')
test_coolumns=  Index(['N', 'P', 'K', 'pH', 'EC', 'OC', 'S', 'Zn', 'Fe', 'Cu', 'Mn', 'B', 'OM',
       'Fertility'],
      dtype='object')

In [10]:
print(preprocessor)

ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical',
                                 Pipeline(steps=[('imputer',
                                                  MinMaxTransformation())]),
                                 Index(['N', 'P', 'K', 'pH', 'EC', 'OC', 'S', 'Zn', 'Fe', 'Cu', 'Mn', 'B',
       'OM'],
      dtype='object'))])

In [11]:
print("part : ",part)
print("processed_train_path : ",Path(processed_train_path))
print("processed_test_path : ",Path(processed_test_path))

part :  1
processed_train_path :  /home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/artifacts/intermediate/1/train.csv
processed_test_path :  /home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/artifacts/intermediate/1/test.csv

In [12]:
df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,333,6.6,729,7.20,0.31,0.38,7.10,0.24,2.94,0.83,7.63,0.15,0.6536,1
1,301,111.8,486,7.50,0.54,0.43,6.50,0.25,1.57,0.23,18.71,0.35,0.7396,1
2,339,5.7,697,8.00,0.65,0.68,8.75,0.32,6.25,1.85,15.47,0.42,1.1696,1
3,213,10.7,771,7.29,0.52,0.68,5.73,0.49,8.51,0.75,15.62,0.36,1.1696,0
4,333,14.3,507,7.43,0.61,0.88,7.24,0.37,1.26,1.37,12.03,0.29,1.5136,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,276,11.2,475,7.50,0.35,0.39,4.52,0.52,6.32,0.54,8.62,0.34,0.6708,1
874,238,5.7,454,7.61,0.62,1.09,3.50,0.34,2.56,1.10,7.36,0.14,1.8748,0
875,264,7.2,370,7.68,0.66,1.27,10.56,0.60,6.52,1.57,11.05,0.40,2.1844,0
876,270,5.0,602,7.00,0.36,0.39,10.56,0.32,3.54,1.47,11.57,0.67,0.6708,0
877,69,8.1,338,7.50,0.63,0.78,8.40,0.37,2.12,1.03,2.84,2.26,1.3416,0

In [13]:
train_df=pd.read_csv(processed_train_path)
test_df=pd.read_csv(processed_test_path)

In [14]:
names=list(df.columns)
train_df = train_df.rename(columns=dict(zip(train_df.columns, names)))
test_df = test_df.rename(columns=dict(zip(test_df.columns, names)))

In [15]:
train_df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,0.867374,0.030303,0.463525,0.614634,0.150685,0.011715,0.231044,0.004482,0.080793,0.252560,0.239753,0.032609,0.011715,1
1,0.782493,0.891892,0.306649,0.643902,0.465753,0.013808,0.209585,0.004746,0.040249,0.047782,0.600195,0.105072,0.013808,1
2,0.883289,0.022932,0.442866,0.692683,0.616438,0.024268,0.290057,0.006591,0.178751,0.600683,0.494795,0.130435,0.024268,1
3,0.549072,0.063882,0.490639,0.623415,0.438356,0.024268,0.182046,0.011073,0.245635,0.225256,0.499675,0.108696,0.024268,0
4,0.867374,0.093366,0.320207,0.637073,0.561644,0.032636,0.236052,0.007909,0.031074,0.436860,0.382889,0.083333,0.032636,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,0.416446,0.042588,0.313105,0.643902,0.780822,0.044770,0.203505,0.011600,0.172240,0.419795,0.239753,0.123188,0.044770,0
698,0.450928,0.046683,0.320207,0.660488,0.520548,0.028870,0.148784,0.005273,0.099142,0.187713,0.177944,0.010870,0.028870,0
699,0.816976,0.060606,0.429309,0.598049,0.260274,0.040586,0.171316,0.008437,0.178159,0.129693,0.079050,0.159420,0.040586,1
700,0.949602,0.042588,0.306649,0.639024,0.397260,0.000000,0.311516,0.007382,0.204498,0.303754,0.236825,0.159420,0.000000,1
701,0.533156,0.031941,0.204003,0.653659,0.698630,0.024268,0.257511,0.013182,0.112755,0.395904,0.197137,0.061594,0.024268,0

In [16]:
test_df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,0.615385,0.008190,0.245320,0.653659,0.506849,0.000000,0.290057,0.011600,0.057413,0.184300,0.432010,0.199275,0.000000,0
1,0.501326,0.031941,0.245320,0.641951,0.232877,0.002092,0.102289,0.004218,0.069547,0.180887,0.230644,0.014493,0.002092,0
2,0.716180,0.081900,0.251775,0.629268,0.890411,0.024268,0.117310,0.003955,0.083161,0.406143,0.453806,0.130435,0.024268,1
3,0.915119,0.096642,0.238218,0.682927,0.315068,0.028452,0.117310,0.005273,0.112755,0.597270,0.294730,0.083333,0.028452,1
4,0.533156,0.039312,0.238218,0.657561,0.643836,0.006695,0.127325,0.005009,0.110092,0.201365,0.279440,0.076087,0.006695,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,0.716180,0.067977,0.299548,0.643902,0.205479,0.012134,0.138770,0.011864,0.180823,0.153584,0.271958,0.101449,0.012134,1
172,0.615385,0.022932,0.285991,0.654634,0.575342,0.041423,0.102289,0.007118,0.069547,0.344710,0.230969,0.028986,0.041423,0
173,0.684350,0.035217,0.231762,0.661463,0.630137,0.048954,0.354793,0.013973,0.186742,0.505119,0.351008,0.123188,0.048954,0
174,0.700265,0.017199,0.381536,0.595122,0.219178,0.012134,0.354793,0.006591,0.098550,0.470990,0.367925,0.221014,0.012134,0
175,0.167109,0.042588,0.211104,0.643902,0.589041,0.028452,0.277539,0.007909,0.056526,0.320819,0.083930,0.797101,0.028452,0

In [17]:
from soil_fertility.components.models.decision_tree import DecisionTree
from soil_fertility.components.models.random_forest import RandomForest

In [18]:
target_column = "Fertility"
X_train = train_df.drop(columns=[target_column]).to_numpy()
y_train = train_df[target_column].to_numpy()
X_test = test_df.drop(columns=[target_column]).to_numpy()
y_test = test_df[target_column].to_numpy()

In [19]:
from soil_fertility.components.model_trainer import ModelTrainer

In [ ]:
model_trainer=ModelTrainer()
result=  model_trainer.init_training(train_data=train_df,
                                     test_data=test_df,
                                     target_column="Fertility",
                                     mode="default")

In [ ]:
result

{'metrics': {'decision_tree': {'accuracy': 0.8693181818181818,
   'confusion_matrix': [[64, 6], [11, 87]],
   'recall': 0.8529411764705882,
   'precision': 0.925531914893617,
   'f1_score': 0.8877551020408163,
   'specificite': 0.9142857142857143,
   'metrics_per_class': {0: {'precision': 0.8421052631578947,
     'recall': 0.9142857142857143,
     'f1_score': 0.8767123287671234},
    1: {'precision': 0.925531914893617,
     'recall': 0.8529411764705882,
     'f1_score': 0.8877551020408163},
    2: {'precision': 0.3333333333333333, 'recall': 0.5, 'f1_score': 0.4}},
   'specificity_per_class': {0: 0.8867924528301887,
    1: 0.9054054054054054,
    2: 0.9767441860465116}},
  'random_forest': {'accuracy': 0.6590909090909091,
   'confusion_matrix': [[68, 2], [54, 48]],
   'recall': 0.47058823529411764,
   'precision': 0.9056603773584906,
   'f1_score': 0.6193548387096774,
   'specificite': 0.9714285714285714,
   'metrics_per_class': {0: {'precision': 0.5528455284552846,
     'recall': 0.9714285714285714,
     'f1_score': 0.7046632124352332},
    1: {'precision': 0.9056603773584906,
     'recall': 0.47058823529411764,
     'f1_score': 0.6193548387096774},
    2: {'precision': 0, 'recall': 0.0, 'f1_score': 0}},
   'specificity_per_class': {0: 0.4811320754716981,
    1: 0.9324324324324325,
    2: 1.0}}},
 'decision_tree': <soil_fertility.components.models.decision_tree.DecisionTree at 0x7f408db865c0>,
 'random_forest': <soil_fertility.components.models.random_forest.RandomForest at 0x7f408db868c0>}

In [ ]:
model_trainer2=ModelTrainer()
result2=  model_trainer.init_training(train_data=train_df,
                                     test_data=test_df,
                                     target_column="Fertility",
                                     mode="gridsearch")